div {
    font-family: sans-serif;
    padding: 10px;
    border: solid cadetblue; 
}



#idListContainer {
    text-align: left;
    line-height: 1.5em;
}


#idListContainer > H3 {
    text-align: center;
}
#idListIinputArea {
    text-align: center;
}

ul {
    display: inline-block;
    /* border: solid salmon; */
    line-height: 1.4em;
}


.clListDone {
    text-decoration: wavy line-through red;
    text-decoration-thickness: 5px;
}

.delete {
    float: right;
    margin-left: 20px;
}


/* Card area */
#idMainContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.clCard {
    display: block;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
    }

.cardTitles {
    text-align: center;
    font-weight: bold;
    border: none;
}

#idLeftPanel  {
    width: 30%;
    min-width: 220px;
    padding: 0px;
    border: none;
}

#idRightPanel {
   width: 50%;
   /* min-width: 220px; */
}

#idRightPanel > p, H3 {
    padding: 0px 20px;
 
}


/* .clCard {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100px;
    width: 150px;
    padding: 10px; */ 