main {
  font-family: sans-serif;
  padding: 10px;
  margin-top: 20px;
  border: solid cadetblue; 
  border-radius: 1em;
}

header  {
  border: solid cadetblue; 
  border-radius: 1em;
  padding: 1%;
}

main > div {
  font-family: sans-serif;
  padding: 10px 25px;
  border: solid cadetblue; 
  border-radius: 1em;
  text-align: left;
}

.clCard {
  padding: 10px;
  border: solid cadetblue; 
  border-radius: 1em;
  min-width: 100px;
  max-width: 25%;
  }


.clCard>p {
  display: flex;
  justify-content: space-between;
}