[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-watch = "*"
pytest-sugar = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
autopep8 = "*"
flake8 = "*"

[packages]
openpyxl = "*"
pylint = "*"

[requires]
python_version = "3.8"
