div {
    font-family: sans-serif;
    padding: 10px;
    border: solid cadetblue; 
    border-radius: 1em;
     
}

#idTitle {
    font-family: serif;
    color: rgb(15, 29, 92);
    border: none;
    text-align: center;
}


#idAccountControl {
    text-align: left;
    line-height: 1.5em;
}

#idAccountInput {
    text-align: center;
    padding: 20px 0;
}

#idDWInput {
    text-align: right;
}

/* Accounts Card area */
#idAccountsArea {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#idLeftPanel  {
    width: 30%;
    min-width: 220px;
    padding: 0px;
    border: none;
}

.clCard {
    padding: 10px;
    }

.clCard>h3 {
    padding: 0;
}

.clCard>p, #idRightPanel>p {
    display: flex;
    justify-content: space-between;
}

/* 
#idAcct1Balance {
    margin-left: 40%; 
}  */


#idRightPanel {
   width: 50%;
}

#idRightPanel > p {
    padding: 0px 20px;
}


#idRightPanel > h4 {
    padding-top: 20px;
    /* padding: 0px 20px; */
}



/* .clCard {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100px;
    width: 150px;
    padding: 10px; */ 